*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #b5c4c9;
}
header{
    display: grid;
    grid-area: h;
    background-color: #000000aa;
    
}
header h1{ 
    color: #ffffffcc;
    align-self: center;
    justify-self: center;
    font-size: 40px;
}
main{
    display: grid;
    grid-area: m;
    
    
    
}
aside{
    grid-area: a;
    background-color: #000000cc;
}
section{
    display: grid;
    grid-area: s;
    
    
    
}
section h1{
    text-align: center;
    color: #00000088;
    margin-top: 30px;
    font-size: 50px;
}
section div{
    justify-self: center;
    width: 200px;
    height: 200px;
    border: white 1px solid;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 17vh 100%;
    grid-template-areas: "h h h" 
                         "s m a";
}
.itemsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #000000cc;
    gap: 10px;
    width: 500px;
    height: 500px;
    align-self: center;
    justify-self: center;
    padding: 10px;
    
}
.cart{
    border: #ffffffcc 1px solid;
    color: white;
    padding: 5px;
    font-size: 16px;
}
.cart h1{
    text-align: center;
    font-size: 100px;
    color: #ffffff11;
    

}
.cart:hover{
    background-color: #00000033;
    color: #ffffff;
}

